body {
    background: #F1F3FA;
    padding-top:100px;
}

#menu-panel {
    float: top;
    color: #bdbdbd;

    /*margin-bottom: 20px;*/
}

/* Profile container */
.profile {
    margin: 20px 0;
}

/* Profile sidebar */
.profile-sidebar {
    padding: 20px 0 10px 0;
    background: #fff;
}

.profile-userpic img {
    float: none;
    margin: 0 auto;
    max-width: 50%;
    max-height: 50%;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
}

.profile-user {
    text-align: center;
    margin-top: 20px;
}

.profile-user-name {
    text-align: left;
    color: #5a7391;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 7px;
}

.profile-user-contact {
    /*text-transform: uppercase;*/
    text-align: left;
    color: #4184d1;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 15px;
}

.profile-userbuttons {
    text-align: center;
    margin-top: 10px;
}

.profile-userbuttons .btn {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    padding: 6px 15px;
    margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
    margin-right: 0px;
}


/* Profile Content */
.profile-content {
    padding: 20px;
    background: #fff;
    min-height: 460px;
}